/*general*/

html,
body{
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    background: url(../img/bitume1.jpg) center no-repeat;
    background-size: cover;
}

a, a-webkit-any-link{
    text-decoration: none;
}

.btn{
    width: 150px;
    height: 25px;
    cursor: pointer;
    font-weight: 800;
}

ul,
li{
    list-style: none;
}


/*navbar*/

.menu{
    position: fixed;
    height: 50px;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background:#f1f1f1;  
}

.navtop{
	width:100%;
    background-color: rgba(255, 0, 0, 0.5);
	height:50px; 
	line-height:50px;
    border-bottom:1px solid #dddddd;
    z-index: 998;
}

.navBtn{
    width: 150px;
    z-index: 999;
    position:absolute;
    top:0;
    right:0;
    padding: 0;
}

.navBtn h3,
.navBtn button{
    display: inline-block;
}

.navBtn h3{
    font-size: 2em;
    transform: translateY(-25%);
}

.burger{
    width: 50px;
    height: 50px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png) center no-repeat;
    background-size: cover;
    background-color: rgb(255, 60, 60);
    cursor:pointer;
    z-index:999;
}

.cross{
    width: 50px;
    height: 50px;
    background: url(https://cdn.pixabay.com/photo/2012/04/24/11/27/old-39432_960_720.png);
    background-size: cover;
    background-color: rgb(255, 60, 60);
    cursor:pointer;
    z-index:999;
}

.nav{
    z-index:900; 
    font-weight:bold; 
    font-size:0.8em; 
    width:100%; 
    text-align:center; 
    font-size:25px;
    position:absolute;
    top: -200px;
}

/* @keyframes slideDown{
    0% {top: -200px;}
    100% {top: 50px;}
} */

.nav2{z-index:900; 
    font-weight:bold; 
    font-size:0.8em; 
    width:100%; 
    background:#f1f1f1;  
    text-align:center; 
    font-size:25px;
    position:absolute;
    top: 50px;
}

.nav ul {
    margin: 0; 
    padding: 0; 
    list-style-image: none;
}

.nav li {
    display: block;   
    padding:10px 0 10px 0; 
    border-bottom:#dddddd 1px solid;
}

.nav li:hover{
    display: block;    
    background:#ffffff; 
}

.nav ul li a { 
    text-decoration:none;
    margin: 0px; 
    color:#666;
}

.nav ul li a:hover {  
    color: #666; 
    text-decoration:none;
}

.nav a{
    text-decoration:none; 
    color:#666;
}

.nav a:hover{
    text-decoration:none; 
    color:#666;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

a{
    color:#336699;
}

/*locabike section*/

.locabike{
    margin-top: 3em;
}

.locabike h1{
    color: #ff4040;
    font-size: 7em;
    line-height: 0.8;
    margin : 0.5em auto 0 auto;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(255, 170, 60);
}

.locabike h1 span{
    z-index: 5;
    color: rgb(255, 235, 55);
    display: inline-block;
    transform: rotate(0.1turn);
    font-size: 1.25em;
    margin-right: -0.2em;
}


@media screen and (max-width: 1280px){

    .nav li{
        font-size: 1.5em;
        margin: 0 0.75em;
    }
}

@media screen and (max-width: 992px){
    
}

@media screen and (max-width: 780px){
    
}

@media screen and (max-width: 600px){
    
}

@media screen and (max-width: 450px){
    
}