/*general*/

body{
    background: url(../img/bitume1.jpg) center no-repeat;
    background-size: cover;
}

.ui-page-active{
    outline: none;
}

.ui-loader{
    display: none;
}

header,
section,
footer{
    display: block;
}

a, a-webkit-any-link{
    text-decoration: none;
    color: #686868;
    z-index: 999;
}

.btn{
    width: 150px;
    height: 25px;
    cursor: pointer;
    font-weight: 800;
}

ul,
li{
    list-style: none;
}

h3{
    font-size: 1.75em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/*locabike section*/

.locabike h1{
    color: #ff4040;
    font-size: 7em;
    line-height: 0.8;
    margin : 0.25em auto 0 auto;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(255, 170, 60);
}

.locabike h1 span{
    z-index: 5;
    color: rgb(255, 235, 55);
    display: inline-block;
    transform: rotate(0.1turn);
    font-size: 1.25em;
    margin-right: -0.2em;
}

/* Footer */

.footer{
    background-color: #ffffffaf;
    padding-bottom: 2em;
    color: #000;
}

.footerText,
.countDown{
    text-align: center;
    font-size: 2.5em;
}


@media screen and (max-width: 1200px){

    .locabike h1{
        font-size: 6em;
    }

    .footerText,
    .countDown{
        font-size: 2em;
    }
}

@media screen and (max-width: 992px){
    .locabike h1{
        font-size: 6em;
    }
    
    .footerText, .countDown {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 780px){
    .locabike h1{
        font-size: 5em;
    }

    .footerText, .countDown {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 600px){
    .locabike h1{
        font-size: 4em;
    }
}

@media screen and (max-width: 450px){
    .locabike h1{
        font-size: 3em;
    }

    .footerText,
    .countDown{
        font-size: 1em;
    }
}