.map-container{
    width: 95%;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}

.map-content{
    display: flex;
    flex-direction: row;
}

.btnMap{
    margin: 10px;
}

.map{
    width: 70%;
    height: 600px;
    border-radius: 10px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.stations{
    width: 540px;
    height: 100%;
    margin-left: 5px;
}

.map,
.infostations,
.signature{
    margin: 0;
    padding: 0 1em;
    border-radius: 5px;
}

.infostations{
    height: 300px;
}

.btnInfos{
    border-radius: 5px;
}

.formInvisible{
    display: none;
} 

.formVisible{
    display: block;
}

.elemFormInvisible,
.booking{
    margin-top: 0.5em;
}

.noBikes{
    display: none;
}

.nobikesVisible{
    display: block;
}

.bolt{
    font-weight: 800;
}

.form label,
.form input{
    margin: 0.25em 0.75em;
}

.messError1,
.messError2{
    display: none;
}

.messError1v,
.messError2v{
    display: block;
}

.signature{
    display: none;
}

.signatureVisible{
    margin-top: 2em;
    display: block;
    height: 220px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.75);
}

.signez{
    text-align: center;
    font-weight: 700;
}

.signature button{
    bottom: 0;
}

.invisible{
    display: none;
}

.visible{
    display: inline-block;
}

.annulBtn{
    display: none;
}

.annulBtn1{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 5px;
}