.slider h3{
  margin: 0 auto;
  font-size: 2em;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  width:85%;
  text-align: center;
}

.slideshow {
  margin: 0 auto;
  position: relative;
  width: 85%;
  height: 600px;
}

.slideshow > p,
.slideshow > img{
  margin: 2px 0;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 10px;
}

.slideshow > p{
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px;
}

.slideshow > img{
  height: 525px;
}

.slideshow > img,
.slideshow > figcaption {
  width: 100%;
}

.button{
  width: 300px;
  margin: 0 auto;
}

.prevBtn,
.pauseBtn,
.playBtn,
.nextBtn{
  cursor: pointer;
  z-index: 10;
  display: inline-block;
  margin: 5px;
}

.button button{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.button button:hover{
  transform: scale(1.1);
}

.prevBtn{
  background: url(../img/prev.png) no-repeat center;
  background-size: cover;
}

.pauseBtn{
  background: url(../img/pause.png) no-repeat center;
  background-size: cover;
}

.playBtn{
  background: url(../img/play.png) no-repeat center;
  background-size: cover;
}

.nextBtn{
  background: url(../img/next.png) no-repeat center;
  background-size: cover;
}

.noBikes{
  display: none;
}

.noBikesVisible{
  display: block;
}

@media screen and (max-width: 1280px){
  .slideshow{
    height: 400px;
  } 

  .slideshow > img{
    border-radius: 10px;
    height: 325px;
  } 
}

@media screen and (max-width: 992px){
  .slider h3{
    font-size: 1.75em;
    width:50%;
  }
    
  .slideshow{
    height: 350px;
  }

  .slideshow > img{
    border-radius: 10px;
    height: 275px;
  }

  .button{
  display: none;
  }
}

@media screen and (max-width: 780px){
  .slider h3{
    font-size: 1.5em;
  }
  
  .slideshow{
  height: 275px;
  }

  .slideshow > img{
    border-radius: 10px;
    height: 225px;
  }

  .slideshow > p{
    font-size: 17.5px;
  }
}

@media screen and (max-width: 600px){
  .slider h3{
    font-size: 1.25em;
    width:75%;
  }
  
  .slideshow{
  height: 250px;
  }
}

@media screen and (max-width: 450px){
  .slider h3{
    font-size: 1em;
  }
  
  .slideshow{
  height: 200px;
  }

  .slideshow > img{
    border-radius: 10px;
    height: 150px;
  }

  .slideshow > p{
    font-size: 12px;
  }
}