.slideshow {
  margin: 0 auto;
  position: relative;
  width: 75%;
  height: 600px;
  padding: 10px;
  pointer-events: none;
}
  
.slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.slideshow > div > p,
.slideshow > div > img{
  margin: 2px 0;
}

.slideshow > div > p{
  border: solid 2px rgb(0, 0, 0);
  border-radius: 10px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px;
}

.slideshow > div > img{
  /*border: solid 5px rgba(0, 0, 0, 0.75);*/
  border-radius: 10px;
  height: 525px;
}

.slideshow > div > img,
.slideshow > div > figcaption {
  width: 100%;
}

.button{
  width: 300px;
  margin: 0 auto;
}

.prevBtn,
.pauseBtn,
.playBtn,
.nextBtn{
  cursor: pointer;
  z-index: 10;
  display: inline-block;
  margin: 5px;
}

.button button{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.button button:hover{
  transform: scale(1.1);
}

.prevBtn{
  background: url(../img/prev.png) no-repeat center;
  background-size: cover;
}

.pauseBtn{
  background: url(../img/pause.png) no-repeat center;
  background-size: cover;
}

.playBtn{
  background: url(../img/play.png) no-repeat center;
  background-size: cover;
}

.nextBtn{
  background: url(../img/next.png) no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 1280px){
  .slideshow{
    height: 375px;
  }  
}

@media screen and (max-width: 992px){
  .slideshow{
    height: 375px;
  }
  .button{
  display: none;
  }
}

@media screen and (max-width: 780px){
  .slideshow{
  height: 300px;
  }
}

@media screen and (max-width: 600px){
  .slideshow{
  height: 250px;
  }
}

@media screen and (max-width: 450px){
  .slideshow{
  height: 200px;
  }
}